@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope-Regular';
  src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kayak-Sans-Bold';
  src: url('/fonts/Kayak-Sans/Kayak-Sans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --color-text: 57 35 101;
    --color-primary: 97 38 216;
    --color-secondary: 208 178 255;
    --color-secondary-light: 231 216 255;
    --color-accent: 163 221 255;
    --color-accent-light: 212 239 255;
    --color-background: 255 255 255
  }
}

:root {
  --text: rgb(57, 35, 101);
  --primary: rgb(97, 38, 216);
  --secondary: rgb(208, 178, 255);
  --secondary-light: rgb(231, 216, 255);
  --accent: rgb(163, 221, 255);
  --accent-light: rgb(212, 239, 255);
  --background: rgb(255, 255, 255);
}

* {
  font-family: 'Manrope-Regular', sans-serif;
  color: var(--text);
}

h1, h2, .kayak-bold, .button {
  font-family: 'Kayak-Sans-Bold', sans-serif;
}

.manrope-bold {
  font-family: 'Manrope-Bold', sans-serif;
}

.manrope-semibold {
  font-family: 'Manrope-SemiBold', sans-serif;
}

.button {
  background-color: var(--accent);
  padding: 0.7em;
  border-radius: 10px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.button:hover, .link:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.secret {
  display: none;
  position: absolute;
  visibility: hidden;
}

.place-holder {
  visibility: hidden;
}