@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope-Regular';
  src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kayak-Sans-Bold';
  src: url('/fonts/Kayak-Sans/Kayak-Sans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --color-text: 57 35 101;
    --color-primary: 97 38 216;
    --color-secondary: 208 178 255;
    --color-secondary-light: 245 238 254;
    --color-accent: 163 221 255;
    --color-accent-light: 226 244 255;
    --color-background: 255 255 255
  }

  /* Headings */
  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  /* Body Text */
  .txt-lg,
  .txt-lg-semibold,
  .txt-lg-bold {
    @apply text-lg;
  }

  .txt-lg-semibold {
    @apply font-semibold;
    font-family: 'Manrope-SemiBold', sans-serif;
  }

  .txt-lg-bold {
    @apply font-bold;
    font-family: 'Manrope-Bold', sans-serif;
  }

  .txt-md,
  .txt-md-semibold,
  .txt-md-bold {
    @apply text-md;
  }

  .txt-md-semibold {
    @apply font-semibold;
    font-family: 'Manrope-SemiBold', sans-serif;
  }

  .txt-md-bold {
    @apply font-bold;
    font-family: 'Manrope-Bold', sans-serif;
  }

  .txt-rg,
  .txt-rg-semibold,
  .txt-rg-bold {
    @apply text-base;
  }

  .txt-rg-semibold {
    @apply font-semibold;
    font-family: 'Manrope-SemiBold', sans-serif;
  }

  .txt-rg-bold {
    @apply font-bold;
    font-family: 'Manrope-Bold', sans-serif;
  }

  .txt-sm,
  .txt-sm-semibold,
  .txt-sm-bold {
    @apply text-sm;
  }

  .txt-sm-semibold {
    @apply font-semibold;
    font-family: 'Manrope-SemiBold', sans-serif;
  }

  .txt-sm-bold {
    @apply font-bold;
    font-family: 'Manrope-Bold', sans-serif;
  }
}

:root {
  --text: rgb(57, 35, 101);
  --primary: rgb(97, 38, 216);
  --secondary: rgb(208, 178, 255);
  --secondary-light: rgb(245, 238, 254);
  --accent: rgb(163, 221, 255);
  --accent-light: rgb(226, 244, 255);
  --background: rgb(255, 255, 255);
}

* {
  font-family: 'Manrope-Regular', sans-serif;
  color: var(--text);
}

h1,
h2,
h3,
.kayak-bold,
.button {
  font-family: 'Kayak-Sans-Bold', sans-serif;
}

.manrope-bold {
  font-family: 'Manrope-Bold', sans-serif;
}

.manrope-semibold {
  font-family: 'Manrope-SemiBold', sans-serif;
}

.contact-button,
.service-button {
  font-family: 'Kayak-Sans-Bold', sans-serif;
  padding: 0.4em 0.7em;
  border-radius: 10px;
}

.service-button {
  background-color: var(--secondary);
}

.contact-button {
  background-color: var(--accent);
}

.blob-front,
.blob-back {
  height: 15vw;
  width: 42vw;
  top: 0;
  position: absolute;
}

.blob-top-small,
.blob-bot-small {
  height: 15vw;
  width: 55vw;
  z-index: -10;
  position: absolute;
  background-color: var(--accent);
}

.blob-top-small {
  top: 0;
}

.blob-bot-small {
  bottom: 0;
}

.blob-front {
  margin-top: -5%;
  z-index: -10;
  background-color: var(--primary);
}

.blob-back {
  margin-top: -7%;
  z-index: -20;
  background-color: var(--accent);
}

.blob-left {
  left: -5%;
}

.blob-middle {
  left: 30%;
}

.blob-right {
  right: -5%;
}

.blue-blob {
  background: var(--accent);
}

.purple-blob {
  background: var(--primary);
}

.secret {
  display: none;
  position: absolute;
  visibility: hidden;
}

.place-holder {
  visibility: hidden;
}

@media (max-width: 500px) {
  .blob-top-small {
    top: 0.8rem;
  }

  .blob-bot-small {
    bottom: 0.8rem;
  }
}

@media (min-width: 1544px) {

  .blob-top-small,
  .blob-bot-small {
    height: 10vw;
  }
}